extends layout

block content
  h1= title
  p Welcome to #{title}
  .user-list-btn
    a(href="/users/")
      input(type="button", value="Users")
    a(href="/buckets/")
      input(type="button", value="Buckets")
