extends ../layout

block content
  h1= title
  form(name="user", method="post", action="/users/new")
    form-group
      label.form-label username: 
      input.form-field(type="text", name="username")
      br
    form-group
      label.form-label first name: 
      input.form-field(type="text", name="first")
      br
    form-group
      label.form-label last name: 
      input.form-field(type="text", name="last")
      br
    form-group
      input.form-btn(type="submit", name="usersubmit")
