extends ../layout

block content
  h1= title
  div.user-profile-information
    h5 User #{user.id}
    h2 #{user.first} #{user.last}
    h3 #{user.username}
  .user-profile-buckets-btn
    a(href="/buckets/#{user.id}/")
      input(type="button", value="View Buckets")