extends ../layout

block content
  h1 Welcome to #{title}
  h5 List of current users: 
    span 
      small() (click to view profile)
  ul
    each user in users
      li
        a(href="/users/#{user.id}/profile") #{user.first} #{user.last}

  hr()
  a(href="/users/new/")
    input(type="button", value="Add User")
  a(href="/")
    input(type="button", value="Home")
  a(href="/buckets/")
    input(type="button", value="Buckets")
    